---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/organisms/Hero.astro";

---


<MainLayout title="Cookie- og Privatlivspolitik" description="beskrivelse" og:title="Cookie- og Privatlivspolitik" og:description="beskrivelse">
 <Hero image="kontakt" overskrift="Cookie- og Privatlivspolitik"  />
  <section class="section-main pt-12 md:pt-20 lg:pt-30 ">
        <article class="pb-12 md:mb-30 max-w-183 mx-auto">
            <h2 class="heading-large pb-6 md:pb-8">Introduktion</h2>
            <p class="body-base text-text-secondary">Når du besøger vores website www.dixieburger.dk / www.kfumfestival.dk, accepterer du at der indsamles oplysninger om dig, som bruges til at tilpasse og forbedre vores indhold og til at øge værdien af de annoncer, der vises på siden. Hvis du ikke ønsker, at der indsamles oplysninger, bør du slette dine cookies og undlade videre brug af websitet. Nedenfor har vi uddybet, hvilke informationer der indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.</p>
        </article>
        
        <article class="pb-12 md:pb-20 max-w-183 mx-auto">
            <h2 class="heading-large pb-6 md:pb-8">Deaktivering af cookies</h2>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Hvis du ikke accepterer vores brug af cookies på websiden, skal du deaktivere dem ved at følge vejledningen til din browser, der er beskrevet på http://allaboutcookies.org. Det bedes bemærket, at brugen af nogle af funktionerne og tjenesterne på websiden muligvis ikke fungerer så godt, hvis du deaktiverer cookies.</p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Hvis organisationen, der afsætter en cookie, tilbyder en automatisk deaktiveringsfunktion med hensyn til sine cookies, skriver vi navnet på den pågældende organisation nedenfor og typen af cookies den afsætter med et link til dens automatiske deaktiveringsfunktion. I alle andre tilfælde skriver vi navnene på de cookies og deres kilde på ikrafttrædelsestidspunktet for denne cookiepolitik, så du nemt kan identificere og deaktivere dem, hvis du ønsker det, via din browser.</p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Nogle browsere giver dig også mulighed for at gøre opmærksom på, at du ikke ønsker, at din færden på internettet og din browsing-aktivitet bliver sporet. Deaktivering af sporing kan påvirke brugen af og tjenesterne på websiden.</p>
        </article>

        <article class="pb-12 md:pb-20 max-w-183 mx-auto">
            <h2 class="heading-large pb-6 md:pb-8">Hvad er cookies</h2>
            <p class="body-base text-text-secondary">Cookies er tekstfiler, der indeholder små mængder oplysninger, der downloades til din enhed, når du besøger en hjemmeside. Cookies bliver derefter sendt tilbage til det oprindelige webdomæne ved dine tilbagevendende besøg på det pågældende domæne. De fleste hjemmesider indeholder elementer fra adskillige webdomæner, så når du besøger websiden, kan din browser modtage cookies på tværs af forskellige websider.</p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Cookies er brugbare, fordi de gør det muligt for en webside at genkende brugerens enhed. Cookies gør det muligt at navigere effektivt mellem sider, huske favoritter og generelt forbedre brugeroplevelsen. De kan også anvendes til at skræddersy annoncer og indhold til dine interesser ved at spore dine browsing-aktiviteter på tværs af forskellige websider.</p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Session cookies bliver automatisk slettet, når din browser lukkes, hvorimod persistent cookies forbliver på din enhed, efter browseren er lukket (f.eks. for at huske dine brugerpræferencer ved dine tilbagevendende besøg på en webside).</p>
        </article>

        <article class="pb-12 md:pb-20 max-w-183 mx-auto">
            <h2 class="heading-large pb-6 md:pb-8">www.dixieburger.dk / www.kfumfestival.dk bruger cookies</h2>
            <p class="body-base text-text-secondary">Websitet: www.dixieburger.dk og wwww.kfumfestival.dk indeholder cookies fra tredjeparter, der i varierende omfang kan omfatte: Denne hjemmeside bruger cookies. Vi bruger cookies til at tilpasse vores indhold og annoncer, til at vise dig funktioner til sociale medier og til at analysere vores trafik. Vi deler også oplysninger om din brug af vores website med vores partnere inden for sociale medier, annonceringspartnere og analysepartnere. Vores partnere kan kombinere disse data med andre oplysninger, du har givet dem, eller som de har indsamlet fra din brug af deres tjenester. Du samtykker til vores cookies, hvis du fortsætter med at anvende vores hjemmeside.</p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Cookies er små tekstfiler, som kan bruges af websteder til at gøre en brugers oplevelse mere effektiv.
            </p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Loven fastslår, at vi kan gemme cookies på din enhed, hvis de er strengt nødvendige for at sikre leveringen af den tjeneste, du udtrykkeligt har anmodet om at bruge. For alle andre typer cookies skal vi indhente dit samtykke.
            </p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Dette websted bruger forskellige typer af cookies. Nogle cookies sættes af tredjeparts tjenester, der vises på vores sider.
            </p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Du kan til enhver tid ændre eller tilbagetrække dit samtykke fra Cookiedeklarationen på vores hjemmeside.
            </p>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Få mere at vide om, hvem vi er, hvordan du kan kontakte os, og hvordan vi behandler persondata i vores Privatlivspolitik.</p>
        </article>

        <article class="pb-12 md:pb-20 max-w-183 mx-auto">
                <h2 class="heading-large pb-6 md:pb-8">Cookiepolitikken dækker ikke tredjeparts websider</h2>
             <p class="body-base text-text-secondary">Det bedes bemærket, at denne cookiepolitik ikke finder anvendelse på, og vi er ikke ansvarlige for, privatlivspolitikker på tredjeparters websider, der kan være forbundet til vores webside.</p>
        </article>
        
      <article class="pb-12 md:pb-20 max-w-183 mx-auto">
		  <h2 class="heading-large pb-6 md:pb-8">Ændringer af cookiepolitikken</h2>
            <p class="body-base  text-text-secondary">Vi opdaterer løbende denne cookiepolitik, og vi vil opfordre dig til at læse politikken fra tid til anden for at holde dig informeret om, hvordan vi anvender cookies. Denne cookiepolitik er sidst opdateret i januar 2019.</p>
      </article>

      <article class="pb-12 md:pb-20 max-w-183 mx-auto">
		  <h2 class="heading-large pb-6 md:pb-8">Privalivspolitik</h2>
             <p class="body-base pt-2 md:pt-4 text-text-secondary">Dansk Rendejern ApS forstår, at det er meget vigtigt, at dine personoplysninger behandles på en sikker måde, og vi er forpligtet til at overholde reglerne for beskyttelse og behandling af dine personoplysninger.</p>

            <p class="body-base text-text-secondary">Af denne privatlivspolitik fremgår, hvordan Klinik for Fodterapianvender dine personoplysninger, og hvilke foranstaltninger der er iværksat for at beskytte og behandle oplysningerne på en sikker måde.</p>
      </article>

      <article class="pb-12 md:pb-20 max-w-183 mx-auto">
		  <h2 class="heading-large pb-6 md:pb-8">Behandling af personoplysninger</h2>
             <p class="body-base pt-2 md:pt-4 text-text-secondary">I forbindelse med indgåelse af aftale om aftalt ydelse med Klinik for Fodterapi har du oplyst en række personoplysninger, herunder særligt:<br>
            • Dit/jeres navne<br>
            • Dit/jeres arbejdsadresser<br>
            • Dit/jeres e-mailadresser<br>
            • Dit/jeres telefonnumre<br>
            • Øvrige kontaktoplysninger</p>
            <p class="body-base  pt-2 md:pt-4 text-text-secondary">Vi behandler disse personoplysninger i forbindelse med vores samarbejde, da det er nødvendigt for, at vi kan opfylde vores del af aftalen – det vil sige udføre, kontrollere, dokumentere arbejdet (produkter og ydelser).</p>
        </article>

      <article class="pb-12 md:pb-20 max-w-183 mx-auto">
		    <h2 class="heading-large pb-6 md:pb-8">Datasikkerhed</h2>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Vi behandler dine personoplysninger sikkert og fortroligt i overensstemmelse med gældende lovgivning, herunder persondataforordningen og databeskyttelsesloven. Dine oplysninger vil alene blive anvendt til det formål, de er indsamlet til, og vil blive slettet, når dette formål er opfyldt eller ikke længere relevant.</p>

            <p class="body-base  text-text-secondary">Vi anvender tredjeparter til håndtering af data og har indgået databehandleraftaler med disse databehandlere, hvilket er vores garanti for, at de overholder gældende regler om beskyttelse af dine personoplysninger. Der kan ligeledes ske overdragelse af data til evt. direkte levering af produkter eller ydelser til udførelse af en aftalt opgave.</p>
      </article>
      
      <article class="pb-12 md:pb-20 max-w-183 mx-auto">
         <h2 class="heading-large pb-6 md:pb-8">Oplysning, indsigelse, ændring, dataportabilitet og sletning</h2>
            <p class="body-base pt-2 md:pt-4 text-text-secondary">Du kan altid kontakte os for at få oplyst, hvilke af dine personoplysninger vi ligger inde med. Dette kan ske ved henvendelse til os.</p>
		  <p class="body-base pt-2 md:pt-4 text-text-secondary">Ønsker du ikke længere, at vi skal behandle dine personoplysninger, eller at vi skal begrænse behandlingen af dine personoplysninger, kan du også sende os en anmodning herom til vores e-mailadresse.</p>
		  <p class="body-base  pt-2 md:pt-4 text-text-secondary">Dine oplysninger vil blive slettet efter 5-10 år efter samarbejdets ophør, da vi er forpligtet til at gemme oplysningerne i 5 år jævnfør bogføringsloven og 10 år jævnfør krav til sikring og dokumentation af visse opgaver. Hvis du ønsker at klage over Dixie Burgers behandling af dine personoplysninger, kan dette ske til Datatilsynet, på adressen Borgergade 28,5., 1300 København, telefon 33 19 32 00 e-mail: dt@datatilsynet.dk</p>
      </article>




    </section>
</MainLayout>


