---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/organisms/Hero.astro";
import SectionWrapper from "../components/organisms/SectionWrapper.astro";
import CTABanner from "../components/organisms/CTABanner.astro";

---


<MainLayout title="Frivillig hos Dixi Burger / Madbod på Roskilde Festival 2026" description="Vil du være en del af Dixi RF26? Bliv frivillig hos Dixi Burger på Roskilde Festival, oplev fællesskab, få fordele og støt et godt formål." og:title="Frivillig hos Dixi Burger / Madbod på Roskilde Festival 2026" og:description="Vil du være en del af Dixi RF26? Bliv frivillig hos Dixi Burger på Roskilde Festival, oplev fællesskab, få fordele og støt et godt formål.">
    <Hero overskrift="Frivillig hos Dixi" bgImage="/forside/stemning_madbod"  />
   <div class="pt-12 md:pt-20 lg:pt-30"> <SectionWrapper  sectionId={6} /></div>
    <SectionWrapper  sectionId={7} />
    <SectionWrapper  sectionId={8} />
	 <CTABanner/>
</MainLayout>