---

import Button from '../components/atoms/Button.astro';
import Link from '../components/atoms/Link.astro';
import Hero from "../components/organisms/Hero.astro";
import CardInstagram from "../components/molecyles/CardsInstagram.astro";
import posts from "../data/instagram.json";


import MainLayout from "../layouts/MainLayout.astro";
import SocialProof from "../components/molecyles/SocialProof.astro";
import CTABanner from "../components/organisms/CTABanner.astro";

import { Image } from 'astro:assets';
import facaden from "../assets/images/forside/facaden.webp";
import CardsInstagram from '../components/molecyles/CardsInstagram.astro';
---


<MainLayout title="Titel" description="beskrivelse" og:title="beskrivelse" og:description="beskrivelse">
 

	 <!-- Test af komponenter -->
	<article>
		<h1 class="body-base">Index overskrift</h1>
		<Link variant = "ButtonInverted" size ="large">Klik!</Link>
		<p class="py-20"><Link variant = "NavLink" size ="base" href="" target="_blank">Link til En anden side</Link></p>
	</article>
	<section>
	</section>
	<Hero overskrift="Hello" bgImage="test"></Hero>


	<ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
  {
    posts.map((post) => {
      return (
        <li>
          <CardInstagram img={post.img} href={post.href} />
        </li>
      );
    })
  }
</ul>
	<!-- Test af komponenter slut-->
	
	<section id="hero">
		<article class="section-main min-h-[65vh] flex flex-col justify-end items-start">
			<h1 class="heading-display pb-6 md:pb-8">Drevet af fællesskab</h1>
			<p class="body-large pb-6 md:pb-8 max-w-136">Bag Dixi Burger står hundredvis af frivillige, der siden 2010 har drevet vores madbod på Roskilde Festival og serveret tusindvis af burgere for festivalens gæster.</p>
			<Link variant = "ButtonSecondary" size ="large">Tilmeld dig</Link>
		</article>
		<Image src={facaden} alt="Billede af Dixi Burger madbodens facade"/>
	</section>

	<section id="info" class="section-main md:grid md:grid-cols-[1fr_2fr] md:gap-4 lg:gap-6">
		 <h2 class="heading-large pb-6">Mere end en madbod</h2>
        <section class="md:max-w-183 ">
	      <div class="body-base text-text-secondary pb-8 md:pb-20">
	      	  <p class="pb-4">Hos Dixi Burger er vi mere end blot en madbod. Vi er en frivilligdrevet organisation, der har været en fast del af Roskilde Festival siden 2010, men vores rødder strækker sig helt tilbage til KFUM’s Boldklub Roskildes første deltagelse i 1971.</p>
		      <p>Med din indsats i boden støtter du KFUM’s Boldklub Roskilde og klubbens indsats for udvikling af unge fodboldspillere, samt vedligehold af faciliteter.</p>
	      </div>
		  <div class="flex flex-col gap-6 md:flex-row justify-between">
              <SocialProof tal="350" text="Frivillige"/>
              <SocialProof tal="45.000+" text="Antal solgte burgere"/>
              <SocialProof tal="50.000+" text="Indsamlet til KFUM Boldklub Roskilde"/>
		    </div>
        </section>
	</section>

	<CTABanner/>
</MainLayout>