---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/atoms/Button.astro';
import Link from '../components/atoms/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---


<MainLayout title="Titel" description="beskrivelse" og:title="beskrivelse" og:description="beskrivelse">

	<article>
		<h1 class="body-base">Index overskrift</h1>
		<Link variant = "ButtonInverted" size ="large">Klik!</Button>
		<p class="py-20"><Link variant = "NavLink" size ="base" href="" target="_blank">Link til En anden side</Link></p>
	</article>
</MainLayout>