---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/organisms/Hero.astro";
import SectionWrapper from "../components/organisms/SectionWrapper.astro";

import CardInstagram from "../components/molecyles/CardsInstagram.astro";
import posts from "../data/instagram.json";

import Carousel from "../components/organisms/Carousel.astro";
---


<MainLayout title="Titel" description="beskrivelse" og:title="beskrivelse" og:description="beskrivelse">
    <Hero overskrift="Om os" bgImage="/forside/pige_arbejder"  />
   <div class="pt-12 md:pt-20 lg:pt-30"> <SectionWrapper  sectionId={3} /></div>
    <SectionWrapper  sectionId={4} />
    <SectionWrapper  sectionId={5} />


    <ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
  {
    posts.map((post) => {
      return (
        <li>
          <CardInstagram img={post.img} href={post.href} />
        </li>
      );
    })
  }
</ul>
	

  
  <Carousel />
</MainLayout>