---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/organisms/Hero.astro";
import SectionWrapper from "../components/organisms/SectionWrapper.astro";

import CardInstagram from "../components/molecyles/CardsInstagram.astro";
import posts from "../data/instagram.json";

import Carousel from "../components/organisms/Carousel.astro";
---


<MainLayout title="Titel" description="beskrivelse" og:title="beskrivelse" og:description="beskrivelse">
    <Hero overskrift="Om os" bgImage="/forside/pige_arbejder"  />
    <SectionWrapper  sectionId={3} />
    <SectionWrapper  sectionId={4} />
    <SectionWrapper  sectionId={5} />


    <ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
  {
    posts.map((post) => {
      return (
        <li>
          <CardInstagram img={post.img} href={post.href} />
        </li>
      );
    })
  }
</ul>
	
<section class="pl-30 py-30">
  <h2 class="text-text-primary pb-11">Hellos</h2>
  <Carousel /></section>
</MainLayout>