---
const { data } = Astro.props;
const { header, text, items } = data;

---

<details class="py-6 px-4 border-b border-b-border-primary hover:bg-background-secondary">
  <summary class="body-large font-medium cursor-pointer flex justify-between">{header}</summary>
  <article class="body-small pt-8 md:pr-[25%]">
  {text &&  <p class="body-base text-text-secondary pb-4">{text}</p>}
  {items && items.length > 0 && (
  <ul class="body-base text-text-secondary pl-4">
    {items.map(item => (
      <li class="list-disc pb-2">{item}</li>
    ))}
  </ul>
)}
  </article>
</details>

<style>
      /* Arrow icon */
  details summary::after {
    /* content: url(/img/svg/arrow_down.svg); */
    content: url('src/assets/svg/add.svg');
  }
  details[open] > summary::after {
   content: url('src/assets/svg/remove.svg');
  }
</style>