---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "textlink", size = "standard" } = Astro.props;

const linkStyling = "";

const variantClasses = {
  primary: "bg-sky-800 text-white hover:bg-sky-600",
  secondary: "border-2 bg-white border-black text-black hover:border-sky-600 hover:text-sky-600",
  textlink: "text-sky-800 hover:text-sky-600 ",
};

const sizeClasses = {
  large: "p-4",
  medium: "p-3",
  small: "p-2",
};
---

<a href={href} class="underline" target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
