---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "", size = "" } = Astro.props;

const linkStyling = "";

const variantClasses = {
  ButtonPrimary: " block text-center rounded-full body-base text-text-brand-dark hover:text-text-brand-light bg-background-brand-primary hover:bg-background-brand-secondary ",
  ButtonSecondary: "text-center rounded-full body-base text-text-primary outline outline-border-primary hover:bg-background-secondary ",
  ButtonInverted: "text-center rounded-full body-base text-text-alternate hover:text-text-primary bg-background-alternate hover:bg-transparent hover:outline hover:outline-border-secondary ",
  NavLink: "inline-block body-base text-text-primary no-underlin hover:border-b  hover:border-border-brand",
  TextLink: "text-text-secondary underline hover:text-text-brand-light",
};

const sizeClasses = {
  large: "py-3 px-7",
  medium: "py-2 px-6",
  small: "py-4 md:py-6",
  textbase: "body-base",
  textsmall: "body-small"
};

// Tjek om linket er aktivt
const isActive = Astro.url.pathname === href;

// Kun active styling hvis det IKKE er TextLink
const activeClass = isActive && variant !== "TextLink"
  ? "border-b border-border-brand"
  : "";
---

<a href={href} class="" target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size], activeClass]}><slot /></a>
