---
import Link from '../../components/atoms/Link.astro';
---
<section class=" bg-cover flex flex-col justify-center items-center bg-[url(/src/assets/images/test.png)] section-main">
 <h1 class="body-base font-medium text-text-tertiary pb-6">Har vi fanget din interesse?</h1>
  <p class="heading-medium text-text-tertiary pb-12 md:pb-20 max-w-210 text-center">Vi lover fællesskab, fede fordele og den bedste festivalstemning</p>
  <Link variant="ButtonInverted" size="large">Tilmeld dig</Link>
</section>
