---
import Link from "../atoms/Link.astro";

import { Image } from 'astro:assets';
import facebook from "../../assets/svg/facebook.svg";
import instagram from "../../assets/svg/instagram.svg";
import logo from "../../assets/svg/logo.svg";
---



<footer class="bg-background-secondary px-6 py-12 md:px-6 md:pt-20 lg:px-30 lg:pt-30 lg:pb-6">
	<div class="pb-20 md:pb-30 md:flex md:flex-row justify-between items-center">
      <ul class="pb-12 md:pb-0 md:flex md:flex-row md:gap-8">
        <li><Link href="/frivillig" variant="NavLink" size="base">Frivillig hos Dixi</Link></li>
        <li><Link href="/omos" variant="NavLink" size="base">Om os</Link></li>
        <li><Link href="/menu" variant="NavLink" size="base">Vores menu</Link></li>
        <li><Link href="/kontakt" variant="NavLink" size="base">Kontakt os</Link></li>
      </ul>
     <ul class="md:flex md:flex-row md:gap-8">
        <li class="pb-6 md:pb-0"><a href="https://www.facebook.com/DixiBurgerRF/" target="_blank"><Image src={facebook} alt="Facebook ikon"/></a></li>
        <li><a href="https://www.instagram.com/dixi.burger?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><Image src={instagram} alt="Instagram ikon"/></a></li>
      </ul>
    </div>
    <div class="pb-6 md:pb-0"><Image src={logo} alt="Dixi Burger logo"/></div>
     <ul class="md:flex md:flex-row justify-between items-center">
        <li class="pb-6 md:pb-0 "><Link href="/cookies" variant="TextLink" target="_blank">Cookie- og Privatlivspolitik</Link></li>
        <li><p class="body-small text-text-secondary">Copyright © Dixi Burger 2026</p></li>
      </ul>
</footer>