---
import Images from '../../components/atoms/Images.astro';
import Text from '../../components/molecyles/Text.astro';

import textSections from "../../data/text.json";

const { sectionId = 1} = Astro.props;


const layoutVariant = {
  "image-right": "order-none",   // tekst til venstre, billede til højre
  "image-left": "order-2",     // tekst til højre, billede til venstre
};


// Hent sektionen med det rigtige ID
const sectionData = textSections.find(s => s.id === sectionId);

const layoutFromJson = sectionData?.layout === "image-right" ? "image-right" : "image-left";
---

<section class="section-main md:grid md:grid-cols-2 md:gap-6 lg:gap-20">
<div class:list={[layoutVariant[layoutFromJson]]} class="h-full flex items-center">
    <Text data={sectionData}   /> 
</div>
<div><Images data={sectionData} /></div>
</section>
