---
import { Image } from 'astro:assets';
import arrow from "../../assets/svg/arrow_without_stroke.svg";
---

<a class="bg-background-brand-secondary flex flex-row justify-center items-center gap-2 md:gap-4 py-1 md:py-2" href="https://www.kfumfestival.dk/festival/" target="_blank">
    <p class="body-small text-text-brand-light">Tilmeldingen er åben! Bliv en del af DIXI RF26</p>
 <Image src={arrow} alt="Billede af en pil" class="w-3 md:w-3.5" />
</a>